.right-aligned-header > .mat-content {
  justify-content: space-between;
}

.mat-content > mat-panel-title, .mat-content > mat-panel-description {
  flex: 0 0 auto;
}

.header
{
  background-color: darkgrey;
  height: 100px;
}
.buttons
{
  text-align: center;
}
.headButton
{
  height:50px;
  width:50px;
}
.bg
{
  background-color: aliceblue;
  width:100%;
  height: 100%;
}
.empInput
{
  margin-left: 20px;
  margin-right: 20px;
}
