.header
{
  background-color: darkgrey;
  height: 100px;
}
.buttons
{
  text-align: center;
}
.headButton
{
 height:50px;
  width:50px;
}
.bg
{
  background-color: aliceblue;
  width:100%;
  height: 100%;
}


