<div class="bg" xmlns:margin-left="http://www.w3.org/1999/xhtml">
<div class="header">

<!--  <div class="buttons">-->
<!--    <button style="margin-left: 10px;margin-right: 10px;margin-top: 10px;" *ngIf="authVisible()" matTooltip="Авторизация"  class="headButton" mat-icon-button-->

<!--  ><mat-icon>account_box</mat-icon></button>-->
<!--    <button style="margin-left: 10px;margin-right: 10px;margin-top: 10px;" matTooltip="База данных" class="headButton" mat-icon-button-->

<!--    ><mat-icon>book</mat-icon></button>-->
<!--    <button style="margin-left: 10px;margin-right: 10px;margin-top: 10px;" matTooltip="Маршруты" class="headButton" mat-icon-button-->

<!--    ><mat-icon>commute</mat-icon></button>-->
<!--    <button style="margin-left: 10px;margin-right: 10px;margin-top: 10px;" (click)="deleteCookie()" matTooltip="Выйти из системы" class="headButton" mat-raised-button-->

<!--    ><mat-icon>eject</mat-icon></button>-->
<!--  </div>-->
</div>
<div class="auth">
  <div  style="margin-left: 20px;margin-top: 20px">
    <mat-form-field class="example-full-width">
      <mat-label>Логин</mat-label>
      <input matInput placeholder="login" [(ngModel)]="login">
    </mat-form-field>
<br>
    <mat-form-field class="example-full-width">
      <mat-label>Пароль</mat-label>
      <input matInput placeholder="password"  [(ngModel)]="password">
    </mat-form-field>
  <br>
  <button mat-raised-button (click)="findUser()">Войти</button>
  </div>
</div>
</div>
