<div class="bg" xmlns:margin-left="http://www.w3.org/1999/xhtml">
  <div class="header">

    <div class="buttons">
      <button style="margin-left: 10px;margin-right: 10px;margin-top: 10px;" (click)="goBackToMainMenu()"  matTooltip="Назад в меню" class="headButton" mat-raised-button

      ><mat-icon>eject</mat-icon></button>
    </div>
  </div>

  <div class="links">
     <button (click)="goToEmployee()"  style="margin-left: 10px;margin-right: 10px;margin-top: 10px;width: 70px;height: 70px;"  matTooltip="Просмотр сотрудников" mat-raised-button ><mat-icon>accessibility_new</mat-icon></button>
    <button (click)="goToBuses()" style="margin-left: 10px;margin-right: 10px;margin-top: 10px;width: 70px;height: 70px;"  matTooltip="Просмотр автобусов" mat-raised-button ><mat-icon>directions_bus</mat-icon></button>
 </div>
</div>

